*~
*.o
*.a
*.lib
*.dll
*.exe
*.so
DIFF*
PATCH*
tags
build/harness
tools/*.png
tools/devserver
tools/randtest
linux/
osx/
ios/
android/
mingw/
*.out
*.res
ffitest
target
D*
Make.params
src/lua_scripts.h
ltclient
*.xcf
